# Pandas 與 SQL Query 的對照 (Reference by [here](https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e))

In [3]:
import pandas as pd
from TextMining import connstart

In [2]:
conn, cursor = connstart()
cursor.execute('Select * from phrase;')
dataset = cursor.fetchall()
conn.close()

In [8]:
phrase = pd.DataFrame(dataset, columns=['PID', 'Word', 'Total', 'PoS', 'DataBytes', 'Alias', 'Weight'])

In [9]:
phrase.head()

     PID  Word  Total PoS DataBytes Alias  Weight
0   9457   程瑤迦      4  nr  00000001  None    0.05
1   8445    北丐     18  nr  00000001  None    0.14
2   4575    楊康     37  nr  00000001  None    0.49
3   8045  靈智上人      6  nr  00000001  None    0.07
4  16774  金輪法王    373  nr  00000001  None    0.97

## SELECT * FROM Phrase

In [10]:
phrase

       PID  Word  Total PoS DataBytes Alias  Weight
0     9457   程瑤迦      4  nr  00000001  None    0.05
1     8445    北丐     18  nr  00000001  None    0.14
2     4575    楊康     37  nr  00000001  None    0.49
3     8045  靈智上人      6  nr  00000001  None    0.07
4    16774  金輪法王    373  nr  00000001  None    0.97
5     1910   武三娘     54  nr  00000001  None    0.97
6     8444    東邪     32  nr  00000001  None    0.97
7     1908  一燈大師    125  nr  00000001  None    0.97
8     8181   鹿清篤     57  nr  00000001  None    0.97
9     2884   黃藥師    222  nr  00000001  None    0.97
10    2121   武修文    189  nr  00000001  None    0.49
11   22659    瑛姑     71  nr  00000001  None    0.97
12    9859   孫婆婆    164  nr  00000001  None    0.97
13   34339    蒙哥     18  nr  00000001  None    0.14
14   22447   瀟湘子    261  nr  00000001  None    0.97
15   18539  點蒼漁隱     18  nr  00000001  None    0.14
16   21496   曲靈風      5  nr  00000001  None    0.09
17    6776   丘處機    182  nr  00000001  None    0.97
18   21602   老頑童    121  nr  00000001  None    0.97
19    6819    馬鈺     44  nr  00000001  None    0.32
20   12037   洪凌波    130  nr  00000001  None    0.97
21   39383    西狂      5  nr  00000001  None    0.09
22   37656   沙通天     13  nr  00000001  None    0.24
23    9182   王重陽     79  nr  00000001  None    0.97
24   26155   郭破虜     17  nr  00000001  None    0.19
25    4576    楊過   4869  nr  00000001  None    0.97
26    2119   武敦儒    114  nr  00000001  None    0.97
27   23156   樊一翁    155  nr  00000001  None    0.97
28   22467   尹克西    189  nr  00000001  None    0.49
29   15599   完顏萍    149  nr  00000001  None    0.97
..     ...   ...    ...  ..       ...   ...     ...
374  36821   青城山      1  ns  00000100  None    0.01
375  36886    樊城      1  ns  00000100  None    0.01
376  30503    南門      1  ns  00000100  None    0.01
377  30491    下京      1  ns  00000100  None    0.01
378  37031   南陽城      1  ns  00000100  None    0.01
379  37179   五台山      1  ns  00000100  None    0.01
380  36356    三湘      2  ns  00000100  None    0.03
381  18502   洞庭湖      3  ns  00000100  None    0.06
382  34787    西山     77  ns  00000100  None    0.97
383  37518    宜城      2  ns  00000100  None    0.03
384    152    南湖      2  ns  00000100  None    0.03
385  24164    漠北      2  ns  00000100  None    0.03
386  16162    定陽      2  ns  00000100  None    0.03
387  37746    北安      1  ns  00000100  None    0.01
388  37010    南陽     15  ns  00000100  None    0.16
389  36883    鄧州      9  ns  00000100  None    0.14
390  37757   東大營      1  ns  00000100  None    0.01
391  14521    中州      1  ns  00000100  None    0.01
392  14530   紫荊關      1  ns  00000100  None    0.01
393  37865   南大營      1  ns  00000100  None    0.01
394  37900    北國      1  ns  00000100  None    0.01
395  31916    南坡      1  ns  00000100  None    0.01
396  31917    北坡      1  ns  00000100  None    0.01
397  16006    武關      1  ns  00000100  None    0.01
398  38264    平陽      1  ns  00000100  None    0.01
399  38270    平沙      1  ns  00000100  None    0.01
400  38412  多瑙河畔      1  ns  00000100  None    0.01
401  38413   維也納      1  ns  00000100  None    0.01
402  38795    黃陵      1  ns  00000100  None    0.01
403  39322    合州      1  ns  00000100  None    0.01

[404 rows x 7 columns]

## SELECT * FROM Phrase LIMIT 3 or SELECT TOP 3 * FROM Phrase

In [11]:
phrase.head(3)

    PID Word  Total PoS DataBytes Alias  Weight
0  9457  程瑤迦      4  nr  00000001  None    0.05
1  8445   北丐     18  nr  00000001  None    0.14
2  4575   楊康     37  nr  00000001  None    0.49

## SELECT PID FROM Phrase WHERE Word = '楊過'

In [12]:
phrase[phrase.Word == '楊過'].PID

25    4576
Name: PID, dtype: int64

## SELECT DISTINCT DataBytes FROM Phrase

In [13]:
phrase.DataBytes.unique()

array(['00000001', '00001000', '00010000', '00000100', '00100000',
       '00100100'], dtype=object)

## SELECT PID, Word, PoS FROM Phrase WHERE DataBytes = b'00000001' AND Weight > 0.05

In [15]:
phrase[(phrase.DataBytes == '00000001') & (phrase.Weight > 0.05)][['PID', 'Word', 'PoS']]

       PID  Word PoS
1     8445    北丐  nr
2     4575    楊康  nr
3     8045  靈智上人  nr
4    16774  金輪法王  nr
5     1910   武三娘  nr
6     8444    東邪  nr
7     1908  一燈大師  nr
8     8181   鹿清篤  nr
9     2884   黃藥師  nr
10    2121   武修文  nr
11   22659    瑛姑  nr
12    9859   孫婆婆  nr
13   34339    蒙哥  nr
14   22447   瀟湘子  nr
15   18539  點蒼漁隱  nr
16   21496   曲靈風  nr
17    6776   丘處機  nr
18   21602   老頑童  nr
19    6819    馬鈺  nr
20   12037   洪凌波  nr
21   39383    西狂  nr
22   37656   沙通天  nr
23    9182   王重陽  nr
24   26155   郭破虜  nr
25    4576    楊過  nr
26    2119   武敦儒  nr
27   23156   樊一翁  nr
28   22467   尹克西  nr
29   15599   完顏萍  nr
30    6818  全真七子  nr
..     ...   ...  ..
153   5697   柯公公  nr
155   5479   陳玄風  nr
156   5854   楊鐵心  nr
157  13506   申師叔  nr
158    874   陸展元  nr
159   7703   那道人  nr
160  37620   柯老頭  nr
161   2554   老公公  nr
162  32740   劉貴妃  nr
163  13534   皮清玄  nr
164  13741   申志凡  nr
165  13533   姬清虛  nr
166  23106   那谷主  nr
167   8133   祖師爺  nr
168   8036   牛鼻子  nr
169   9474   小道士  nr
170  29495   王志坦  nr
171  10332   老太婆  nr
172   3743   小妹妹  nr
173  10286   張志光  nr
174  10908   老婆婆  nr
175   3689   郭夫人  nr
176  32427   白眉僧  nr
177  29431   李志常  nr
178  35472   小妹子  nr
179  19189   老和尚  nr
180  25770   呂文德  nr
181   5130   靖哥哥  nr
182   4477   郭大俠  nr
183  21594   黃老邪  nr

[148 rows x 3 columns]

## SELECT * FROM Phrase ORDER BY Weight DESC

In [16]:
phrase.sort_values('Weight', ascending=False)

       PID  Word  Total PoS DataBytes Alias  Weight
180  25770   呂文德     28  nr  00000001  None    0.97
75   10696   孫不二     61  nr  00000001  None    0.97
82    8898    霍都    272  nr  00000001  None    0.97
83   37082   何師我     56  nr  00000001  None    0.97
52    2948    郭芙    745  nr  00000001  None    0.97
102  34789   大頭鬼     49  nr  00000001  None    0.97
50    2880    郭靖   1005  nr  00000001  None    0.97
49    8655   小龍女   1796  nr  00000001  None    0.97
251   5786    丐幫    244  nt  00100000  None    0.97
252   6654   全真教    221  nt  00100000  None    0.97
46   18051   朱子柳    175  nr  00000001  None    0.97
289  23940    黑劍     51   n  00010000  None    0.97
207  22643    襄陽    267  ns  00000100  None    0.97
43     286    程英    243  nr  00000001  None    0.97
41     347   陸無雙    500  nr  00000001  None    0.97
40    1188   陸立鼎     55  nr  00000001  None    0.97
89   22377   忽必烈    132  nr  00000001  None    0.97
81    8193   趙志敬    436  nr  00000001  None    0.97
278   2539    鐵杖     65   n  00010000  None    0.97
321   6681    蒙古    616  ns  00000100  None    0.97
67    7939   尹志平    236  nr  00000001  None    0.97
192   6653   重陽宮    109  ns  00000100  None    0.97
72    1325   李莫愁    919  nr  00000001  None    0.97
71    1903   武三通    211  nr  00000001  None    0.97
70   26159    郭襄    461  nr  00000001  None    0.97
69    2915   洪七公    177  nr  00000001  None    0.97
68   21603   周伯通    477  nr  00000001  None    0.97
66    4762   歐陽鋒    263  nr  00000001  None    0.97
80    7241   郝大通    110  nr  00000001  None    0.97
284  23158    鋼杖     75   n  00010000  None    0.97
..     ...   ...    ...  ..       ...   ...     ...
246  38240  拂穴之法      1  nz  00001000  None    0.01
248  25307  倒亂刃法      1  nz  00001000  None    0.01
249  18617  大理段氏      1  nt  00100000  None    0.01
250  39534   少林派      1  nt  00100000  None    0.01
255  37184   崑崙派      1  nt  00100000  None    0.01
257  18067   淨衣派      1  nt  00100000  None    0.01
124  36516  狗肉頭陀      1  nr  00000001  None    0.01
328  17111    陝南      1  ns  00000100  None    0.01
356   8980    陰山      1  ns  00000100  None    0.01
329  26379    長城      1  ns  00000100  None    0.01
355   8907    蘭州      1  ns  00000100  None    0.01
354  28888    虎山      1  ns  00000100  None    0.01
353  20981    武都      1  ns  00000100  None    0.01
352   8732    甘州      1  ns  00000100  None    0.01
351  20874    長江      1  ns  00000100  None    0.01
349   6706    樊川      1  ns  00000100  None    0.01
347   6666    浙江      1  ns  00000100  None    0.01
346  34759   晉陽南      1  ns  00000100  None    0.01
345  34756    晉陽      1  ns  00000100  None    0.01
341  34474    京都      1  ns  00000100  None    0.01
339  34459    川北      1  ns  00000100  None    0.01
338  34195    雲山      1  ns  00000100  None    0.01
337   4586    中都      1  ns  00000100  None    0.01
263   3565    沅江      1  ns  00000100  None    0.01
335  33872    石山      1  ns  00000100  None    0.01
334  18110   廣南東      1  ns  00000100  None    0.01
332   2045   天龍寺      1  ns  00000100  None    0.01
331  33267   青龍灘      1  ns  00000100  None    0.01
330   1907    雲南      1  ns  00000100  None    0.01
403  39322    合州      1  ns  00000100  None    0.01

[404 rows x 7 columns]

## SELECT * FROM Phrase WHERE Word NOT IN ('楊過', '郭靖', '小龍女')

In [17]:
phrase[~phrase.Word.isin(['楊過', '郭靖', '小龍女'])]

       PID  Word  Total PoS DataBytes Alias  Weight
0     9457   程瑤迦      4  nr  00000001  None    0.05
1     8445    北丐     18  nr  00000001  None    0.14
2     4575    楊康     37  nr  00000001  None    0.49
3     8045  靈智上人      6  nr  00000001  None    0.07
4    16774  金輪法王    373  nr  00000001  None    0.97
5     1910   武三娘     54  nr  00000001  None    0.97
6     8444    東邪     32  nr  00000001  None    0.97
7     1908  一燈大師    125  nr  00000001  None    0.97
8     8181   鹿清篤     57  nr  00000001  None    0.97
9     2884   黃藥師    222  nr  00000001  None    0.97
10    2121   武修文    189  nr  00000001  None    0.49
11   22659    瑛姑     71  nr  00000001  None    0.97
12    9859   孫婆婆    164  nr  00000001  None    0.97
13   34339    蒙哥     18  nr  00000001  None    0.14
14   22447   瀟湘子    261  nr  00000001  None    0.97
15   18539  點蒼漁隱     18  nr  00000001  None    0.14
16   21496   曲靈風      5  nr  00000001  None    0.09
17    6776   丘處機    182  nr  00000001  None    0.97
18   21602   老頑童    121  nr  00000001  None    0.97
19    6819    馬鈺     44  nr  00000001  None    0.32
20   12037   洪凌波    130  nr  00000001  None    0.97
21   39383    西狂      5  nr  00000001  None    0.09
22   37656   沙通天     13  nr  00000001  None    0.24
23    9182   王重陽     79  nr  00000001  None    0.97
24   26155   郭破虜     17  nr  00000001  None    0.19
26    2119   武敦儒    114  nr  00000001  None    0.97
27   23156   樊一翁    155  nr  00000001  None    0.97
28   22467   尹克西    189  nr  00000001  None    0.49
29   15599   完顏萍    149  nr  00000001  None    0.97
30    6818  全真七子     21  nr  00000001  None    0.10
..     ...   ...    ...  ..       ...   ...     ...
374  36821   青城山      1  ns  00000100  None    0.01
375  36886    樊城      1  ns  00000100  None    0.01
376  30503    南門      1  ns  00000100  None    0.01
377  30491    下京      1  ns  00000100  None    0.01
378  37031   南陽城      1  ns  00000100  None    0.01
379  37179   五台山      1  ns  00000100  None    0.01
380  36356    三湘      2  ns  00000100  None    0.03
381  18502   洞庭湖      3  ns  00000100  None    0.06
382  34787    西山     77  ns  00000100  None    0.97
383  37518    宜城      2  ns  00000100  None    0.03
384    152    南湖      2  ns  00000100  None    0.03
385  24164    漠北      2  ns  00000100  None    0.03
386  16162    定陽      2  ns  00000100  None    0.03
387  37746    北安      1  ns  00000100  None    0.01
388  37010    南陽     15  ns  00000100  None    0.16
389  36883    鄧州      9  ns  00000100  None    0.14
390  37757   東大營      1  ns  00000100  None    0.01
391  14521    中州      1  ns  00000100  None    0.01
392  14530   紫荊關      1  ns  00000100  None    0.01
393  37865   南大營      1  ns  00000100  None    0.01
394  37900    北國      1  ns  00000100  None    0.01
395  31916    南坡      1  ns  00000100  None    0.01
396  31917    北坡      1  ns  00000100  None    0.01
397  16006    武關      1  ns  00000100  None    0.01
398  38264    平陽      1  ns  00000100  None    0.01
399  38270    平沙      1  ns  00000100  None    0.01
400  38412  多瑙河畔      1  ns  00000100  None    0.01
401  38413   維也納      1  ns  00000100  None    0.01
402  38795    黃陵      1  ns  00000100  None    0.01
403  39322    合州      1  ns  00000100  None    0.01

[401 rows x 7 columns]

## SELECT DataBytes, COUNT(DataBytes) AS Total FROM Phrase GROUP BY DataBytes ORDER BY Total DESC

In [25]:
phrase.groupby(['DataBytes']).size().to_frame('Total').reset_index().sort_values(['Total'], ascending=[False])

  DataBytes  Total
0  00000001    173
1  00000100    133
2  00001000     48
3  00010000     39
4  00100000      9
5  00100100      2

## SELECT DataBytes, COUNT(DataBytes) AS Total FROM Phrase GROUP BY Total HAVING Total > 10

In [30]:
phrase.groupby(['DataBytes']).filter(lambda x: len(x) > 10).groupby(['DataBytes']).size().to_frame('Total').reset_index().sort_values(['Total'], ascending=[True])

  DataBytes  Total
3  00010000     39
2  00001000     48
1  00000100    133
0  00000001    173

## SELECT Total FROM Phrase ORDER BY Total DESC LIMIT 10

In [32]:
phrase.nlargest(10, columns='Total')

       PID Word  Total PoS DataBytes Alias  Weight
25    4576   楊過   4869  nr  00000001  None    0.97
49    8655  小龍女   1796  nr  00000001  None    0.97
33    2172   黃蓉   1174  nr  00000001  None    0.97
50    2880   郭靖   1005  nr  00000001  None    0.97
72    1325  李莫愁    919  nr  00000001  None    0.97
52    2948   郭芙    745  nr  00000001  None    0.97
321   6681   蒙古    616  ns  00000100  None    0.97
41     347  陸無雙    500  nr  00000001  None    0.97
68   21603  周伯通    477  nr  00000001  None    0.97
70   26159   郭襄    461  nr  00000001  None    0.97

## SELECT Total FROM Phrase ORDER BY Total DESC LIMIT 10 OFFSET 10

In [35]:
phrase.nlargest(20, columns='Total').tail(10)

       PID  Word  Total PoS DataBytes Alias  Weight
81    8193   趙志敬    436  nr  00000001  None    0.97
4    16774  金輪法王    373  nr  00000001  None    0.97
282   1740    長劍    353   n  00010000  None    0.97
96   24520   裘千尺    290  nr  00000001  None    0.97
95   24638   公孫止    275  nr  00000001  None    0.97
82    8898    霍都    272  nr  00000001  None    0.97
207  22643    襄陽    267  ns  00000100  None    0.97
66    4762   歐陽鋒    263  nr  00000001  None    0.97
14   22447   瀟湘子    261  nr  00000001  None    0.97
37   10592   耶律齊    250  nr  00000001  None    0.97

## SELECT MAX(Weight), MIN(Weight), MEAN(Weight), MEDIAN(Weight) FROM Phrase

In [49]:
phrase.agg({'Weight': ['max', 'min', 'mean', 'median']}).T

         max   min      mean  median
Weight  0.97  0.01  0.270693   0.095

## SELECT DataBytes, ROUND(COUNT(DataBytes), 3) AS Rate FROM Phrase GROUP BY DataBytes ORDER BY Total DESC
* 這個操作使用 pandas 做起來就滿不順手的，最好的解決方法是在 SQL 中處理，沒辦法的話用 pyspark.sql 下 SQL Query 也是能成功解決
* 如果有更好的作法請指教一下

In [48]:
merge_df = phrase.groupby(['DataBytes']).size().to_frame('Total').reset_index().sort_values(['Total'], ascending=[False])
df1 = pd.DataFrame(merge_df.DataBytes)
df2 = pd.DataFrame(merge_df.Total)
df1.merge(df2.div(404.0).round(3), left_index=True, right_index=True)

  DataBytes  Total
0  00000001  0.428
1  00000100  0.329
2  00001000  0.119
3  00010000  0.097
4  00100000  0.022
5  00100100  0.005

## UNION ALL and UNION
* Comming soon!
* Use pd.concat() to perform UNION ALL and UNION

## INSERT INTO Fruits (id, name) VALUES (1, apple) VALUES (2, banana)

In [51]:
df1 = pd.DataFrame({'id': [1], 'name': ['apple']})
df2 = pd.DataFrame({'id': [2], 'name': ['banana']})
pd.concat([df1, df2]).reset_index(drop=True)

   id    name
0   1   apple
1   2  banana

## UPDATE Phrase SET Alias = '玄鐵重劍' WHERE Word = '鐵劍'

In [55]:
phrase.loc[phrase['Word'] == '鐵劍', 'Alias'] = '玄鐵重劍'
phrase.loc[phrase.Word == '鐵劍']

       PID Word  Total PoS DataBytes Alias  Weight
277  19379   鐵劍     50   n  00010000  玄鐵重劍    0.32

In [56]:
phrase.loc[phrase.Word == '桃花島']

      PID Word  Total PoS DataBytes Alias  Weight
258  2887  桃花島    138  ns  00100100  None    0.49

## DELETE FROM Phrase WHERE DataBytes = '00100100'

In [57]:
phrase.drop(phrase[phrase.DataBytes == '00100100'].index)

       PID  Word  Total PoS DataBytes Alias  Weight
0     9457   程瑤迦      4  nr  00000001  None    0.05
1     8445    北丐     18  nr  00000001  None    0.14
2     4575    楊康     37  nr  00000001  None    0.49
3     8045  靈智上人      6  nr  00000001  None    0.07
4    16774  金輪法王    373  nr  00000001  None    0.97
5     1910   武三娘     54  nr  00000001  None    0.97
6     8444    東邪     32  nr  00000001  None    0.97
7     1908  一燈大師    125  nr  00000001  None    0.97
8     8181   鹿清篤     57  nr  00000001  None    0.97
9     2884   黃藥師    222  nr  00000001  None    0.97
10    2121   武修文    189  nr  00000001  None    0.49
11   22659    瑛姑     71  nr  00000001  None    0.97
12    9859   孫婆婆    164  nr  00000001  None    0.97
13   34339    蒙哥     18  nr  00000001  None    0.14
14   22447   瀟湘子    261  nr  00000001  None    0.97
15   18539  點蒼漁隱     18  nr  00000001  None    0.14
16   21496   曲靈風      5  nr  00000001  None    0.09
17    6776   丘處機    182  nr  00000001  None    0.97
18   21602   老頑童    121  nr  00000001  None    0.97
19    6819    馬鈺     44  nr  00000001  None    0.32
20   12037   洪凌波    130  nr  00000001  None    0.97
21   39383    西狂      5  nr  00000001  None    0.09
22   37656   沙通天     13  nr  00000001  None    0.24
23    9182   王重陽     79  nr  00000001  None    0.97
24   26155   郭破虜     17  nr  00000001  None    0.19
25    4576    楊過   4869  nr  00000001  None    0.97
26    2119   武敦儒    114  nr  00000001  None    0.97
27   23156   樊一翁    155  nr  00000001  None    0.97
28   22467   尹克西    189  nr  00000001  None    0.49
29   15599   完顏萍    149  nr  00000001  None    0.97
..     ...   ...    ...  ..       ...   ...     ...
374  36821   青城山      1  ns  00000100  None    0.01
375  36886    樊城      1  ns  00000100  None    0.01
376  30503    南門      1  ns  00000100  None    0.01
377  30491    下京      1  ns  00000100  None    0.01
378  37031   南陽城      1  ns  00000100  None    0.01
379  37179   五台山      1  ns  00000100  None    0.01
380  36356    三湘      2  ns  00000100  None    0.03
381  18502   洞庭湖      3  ns  00000100  None    0.06
382  34787    西山     77  ns  00000100  None    0.97
383  37518    宜城      2  ns  00000100  None    0.03
384    152    南湖      2  ns  00000100  None    0.03
385  24164    漠北      2  ns  00000100  None    0.03
386  16162    定陽      2  ns  00000100  None    0.03
387  37746    北安      1  ns  00000100  None    0.01
388  37010    南陽     15  ns  00000100  None    0.16
389  36883    鄧州      9  ns  00000100  None    0.14
390  37757   東大營      1  ns  00000100  None    0.01
391  14521    中州      1  ns  00000100  None    0.01
392  14530   紫荊關      1  ns  00000100  None    0.01
393  37865   南大營      1  ns  00000100  None    0.01
394  37900    北國      1  ns  00000100  None    0.01
395  31916    南坡      1  ns  00000100  None    0.01
396  31917    北坡      1  ns  00000100  None    0.01
397  16006    武關      1  ns  00000100  None    0.01
398  38264    平陽      1  ns  00000100  None    0.01
399  38270    平沙      1  ns  00000100  None    0.01
400  38412  多瑙河畔      1  ns  00000100  None    0.01
401  38413   維也納      1  ns  00000100  None    0.01
402  38795    黃陵      1  ns  00000100  None    0.01
403  39322    合州      1  ns  00000100  None    0.01

[402 rows x 7 columns]